/***** Blog *****/
.blog-card{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border: solid 3px hsl(258, 100%, 70%);
    border-radius: 0%;
    background-color: #b99aff;
    transition: 0.3s;
}
.blog-card:hover {
    background-color: hsl(258, 100%, 70%);
}
.blog-card-title{
    font-size: 25px;
    padding: 1% 2%;
}
.blog-card-content{
    text-align: justify;
    padding: 1% 2%;
}
.a-blog-card{
    color: #171717;
    text-decoration: none;
}