/***** Navigation Bar *****/
.navbar {
    overflow: hidden;
    background-color: #1368DA;
}
.navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: #F4F4F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    color: #F4F4F4;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1e76e9;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #86b0e7;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #171717;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #1e76e9;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/***** Screen *****/
@media screen and (max-width: 600px) {
    .navbar a, .dropdown {
        float: none;
        display: block;
        text-align: center;
    }
    .dropdown-content {
        position: relative;
    }
    .dropdown, .dropbtn {
        width: 100%;
        display: block;
    }
}

